extends layout

block content
  h1 Add a post
  div(style="width: 1000px")
    form.d-block.mx-auto#previewForm(method="post", action="/add/md-preview", style="width: 170px")
      button.mb-2(type="button", onclick="renderMarkdown()") Preview Markdown
      input.d-block(type="hidden", name='mdContent', value="")
      input.d-block(type='hidden', name='_csrf', value=_csrf)
    div.d-flex.justify-content-start
      form(method="post", action="/posts" style="width: 490px")
        textarea.d-block.border.border-dark(name="content", style="width: 490px; height: 350px", placeholder="Type something here...") #{previewContent}
        input.d-block.mt-4(type="submit", value="Submit")
        input(type='hidden', name='userId', value=user._id)
        input(type='hidden', name='_csrf', value=_csrf)
      - var markdownPreviewContent = markdownPreview ? markdownPreview : "<i>Markdown preview is shown here<i>";
      div.border.border-dark.p-1(style="width: 490px; height: 350px") !{markdownPreviewContent}
  script.
    function renderMarkdown() {
      const previewForm = document.getElementById('previewForm');
      const content = document.getElementsByName("content")[0];
      const mdContent = document.getElementsByName("mdContent")[0];
      mdContent.value = content.value;
      previewForm.submit();
    };