extends layout

block content
  h1 Add a post
  p
    :markdown-it(inline) **BOLD TEXT**
  p.
    In the midst of a large amount of plain !{testFunction()}
    text, suddenly a wild #[:markdown-it(inline) #{gggg}]
    appeared.
  form(method="post" action="/posts")
    div
      label.d-block Content
      textarea.d-block(name="content", cols="120", rows="15")
      p#markdownContent
      button(type="button", onclick="renderMarkdown()") Render Markdown
      input.d-block(type="submit", value="Submit")
      input.d-block(type='hidden', name='userId', value=user._id)
      input.d-block(type='hidden', name='_csrf', value=_csrf)
  script.
    //const p = document.getElementById("markdownContent");
    //p.innerHTML = localStorage.geItem('markdown');
    function renderMarkdown() {
      //console.log(#{md});
      //const mdIt = !{markdownIt};
      const markdownIt = !{require('markdown-it')};
      const md = new markdownIt();
      const content = document.getElementsByName("content")[0];
      const markdownContent = md.render(content);
      console.log(markdownContent, title, md);
      localStorage.setItem('markdown', markdownContent);
      const p = document.getElementById("markdownContent");
      p.innerHTML = markdownContent;
    };