extends layout

block content
  -
  case queryType
    when "allPosts"
      h1 List of all posts:
    when "allPostsFromUser"
      h1 List of all posts from #{queriedUserName ? queriedUserName : 'user # ' + queriedUserId}:
    when "allPostsFromCurrentUser"
      h1 List of all your posts:
    default
      h1 Post # #{queriedTaskId} from #{queriedUserName ? queriedUserName : 'user # ' + queriedUserId}:
  -
  if allPosts
    for post of allPosts
      div.my-4
        p.m-0.p-0 Created By: #{post.createdBy.profile.name || post.createdBy._id}
        p.m-0.p-0 Content: !{post.content}
  -
  if queriedPost
    div.my-4
      p.m-0.p-0 Created By: #{queriedPost.createdBy.profile.name || queriedPost.createdBy._id}
      p.m-0.p-0 Content: !{queriedPost.content}
